/* =========================
        GLOBAL SECTION
========================= */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    text-rendering: optimizeLegibility;
    font-family: var(--globalFontFamily);
}
:root{
    /* bg color */
    --sectionBgColor: #16ba0a;
    --sectionBg2Color: #343434;
    --cardBgColor: #16ba0a;
    --linkBgColor: #16ba0a;
    --btnBgColor: #16ba0a;
    --bgColor: #ffffff;

    /* bg hover color */
    --linkBgColorHover: #119108;
    --btnBgColorHover: #16ba0a;
    --cardBgColorHover: #119108;

    /* font color */
    --headTitleColor: #ffffff;
    --titleColor: #343434;
    --linkColor: #ffffff;
    --btnColor: #ffffff;
    --textColor: #2c2c2b;
    --textColorWhite: #ffffff;
    --footerLinkColor: #727272;

    /* font hover color */
    --linkColorHover: #119108;
    --btnColorHover: #119108;

    /* font family */
    --globalFontFamily: 'Poppins', sans-serif;
    --headTitleFontFamily: 'Open Sans', sans-serif;
    --btnFontFamily: 'Open Sans', sans-serif;

    /* box shadow */
    --cardBoxShadow: 2px 2px 50px rgba(0,0,0,.1);
    
    /* box shadow hover */
    --cardBoxShadowHover: 2px 2px 50px rgba(22, 186, 10,.2);
}
h1,h2,h3{
    font-style: normal;
    font-weight: 700;
}
h1{
    font-family: var(--headTitleFontFamily);
    font-size: 9rem;
    color: var(--headTitleColor);
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 2rem;
}
a,p{
    font-style: normal !important;
    font-weight: 400 !important;
}
a{
    font-size: 1.7rem !important;
    color: var(--linkColor) !important;
    line-height: 1.2rem !important;
    padding: 0 !important;
}
p{
    font-size: 1.6rem;
    color: var(--textColor);
}
.nav-a{
    font-size: 1.8rem;
    text-transform: uppercase;
}
.button{
    background-color: var(--btnBgColor);
    color: var(--bgColor);
    font-family: var(--btnFontFamily);
    font-size: 1.5rem;
    font-style: normal;
    padding: 1rem 3rem !important;
    font-weight: 700;
}
.button:hover{
    background-color: var(--btnColorHover);
    color: var(--btnColorHover) ;
}
.hr{
    border: none;
    border-bottom: .5rem solid var(--btnColorHover);
    width: 8.5rem;
    margin: 0 auto;
}
.title-text{
    margin-bottom: 5rem !important;
}
@media(min-width:1600px){
    .banner-section{
        padding: 25rem 0 !important;
    }
    .login-section{
        padding: 16rem 0 !important;
    }
}
/* =========================
        HEADER SECTION
========================= */
.sub-up-nav{
    background: var(--sectionBgColor);
}
.sub-down-nav{
    background: var(--bgColor)
}
.sub-down-nav form button{
    background: var(--btnBgColor);
    border: none;
    color: var(--btnColor);
}
.sub-down-nav form button:hover{
    background: var(--linkBgColorHover);
    color: var(--btnColor);
}
.sub-down-nav ul li a{
    color: var(--titleColor) !important;
    transition: .5s;
}
.sub-down-nav ul li a:hover{
    color: var(--linkColorHover) !important;
}
.main-navbar{
    background: var(--sectionBg2Color);
}
.main-navbar-link:hover{
    transition: .5s;
}
.main-navbar-link:hover{
    color: var(--linkColorHover) !important;
}
.navbar-toggler-btn{
    background: var(--sectionBgColor);
}
/* =========================
        BANNER SECTION
========================= */
.banner-section{
    background: linear-gradient(rgba(23, 236, 12, .6),rgba(23, 236, 12, .6)), url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 16rem 0;
}
.banner-btn{
    margin-top: 6rem;
    background: var(--bgColor);
    color: var(--textColor);
    transition: .5s;
}
.banner-btn:hover{
    color: var(--btnColor) !important;
}
/* =========================
        SLIDER SECTION
========================= */
.slider-section{
    background: var(--bgColor);
    padding: 5rem;
}
.card-price{
    color: var(--linkBgColor);
}
.card{
    padding: 1.5rem !important;
    box-shadow: var(--cardBoxShadow);
    transition: .5s;
}
.card:hover{
    box-shadow: var(--cardBoxShadowHover);
}
.card-link{
    color: #ae4e0c !important;
    font-size: 1.6rem !important;
    text-decoration: none;
}
/* =========================
        CARD SECTION
========================= */
.card-section{
    background: #ffffff;
    padding: 5rem 0;
}
.card-section .card{
    color: #343434;
    transition: .5s;
    border: none;
}
.card-section .card:hover{
    color: #119108;
}
.card-icon{
    font-size: 6rem;
    color: #2c2c2b !important;
}
.card-section .card:hover .card-icon{
    color: var(--cardBgColorHover) !important;
}
.card-button{
    background: var(--titleColor);
    visibility: hidden;
}
.card-section .card:hover .card-button{
    visibility: visible;
}
/* =========================
        BBANNER SECTION
========================= */
.bbanner-section{
    background: linear-gradient(rgba(37, 37, 37,.8),rgba(37, 37, 37,.8)), url(../img/bottom_hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10rem 0;
}
.bbanner-text{
    margin: 10rem 0;
}
.bbanner-section .button:hover{
    color: var(--btnColor);
}
/* =========================
        SLIDE SECTION
========================= */
.side-section{
    background: var(--bgColor);
    padding: 5rem 0;
}
.side-section .button{
    color: var(--btnColor);
}
/* =========================
     TESTIMONIAL SECTION
========================= */
.testimonial-section{
    background: var(--bgColor);
    padding: 5rem 0;
}
.testimonial-cards{
    margin-top: 6rem;
}
.testimonial-section figure img{
    margin-top: -4rem;
}
.testimonial-cards-sub-title, .testimonial-cards-icon{
    color: var(--btnColorHover) !important;
}
.testimonial-cards-sub-title{
    font-size: 1.4rem;
}
.testimonial-cards-icon{
    font-size: 2.4rem;
}
/* =========================
     FORM SECTION
========================= */
.form-section{
    background: var(--bgColor);
    padding: 5rem 0;
}
.form-section input{
    font-size: 1.6rem;
    padding: 1rem 2rem;
}
.form-section textarea{
    resize: none;
    font-size: 1.6rem;
    padding: 1rem 2rem;
}
.form-section .button:hover{
    color: var(--btnColor);
}
/* =========================
     FOOTER SECTION
========================= */
.footer-secton{
    background: var(--sectionBg2Color);
    padding: 3rem 0;
}
.footer-secton form input[type=email]{
    background: var(--sectionBg2Color);
    border: none;
    border-bottom: .2rem solid var(--btnBgColor);
    font-size: 1.2rem;
}
.footer-secton form button[type="button"]{
    border-bottom: .2rem solid var(--btnBgColor);
    color: var(--btnColor);
    font-size: 1.5rem;
}
.footer-secton a{
    font-size: 1.2rem !important;
    text-decoration: none;
    color: var(--footerLinkColor) !important;
    line-height: 1.4;
    transition: .5s;
}
.footer-secton a:hover{
    color: var(--linkColorHover) !important;
}
.footer-contact a, span{
    color: var(--btnColor) !important;
    font-size: 1.2rem;
}
.footer-contact-social a{
    margin-right: .5rem;
}
.copyright{
    background: var(--bgColor);
}
.copyright p{
    font-size: 1.2rem;
}
/* =========================
     LOGIN SECTION
========================= */
.login-section{
    padding: 15rem 0;
}
.login-form{
    background: var(--sectionBgColor);
    padding: 2.5rem;
    border-radius: .5rem;
    box-shadow: var(--cardBoxShadow) !important;
}
.login-form:hover{
    box-shadow: var(--cardBoxShadowHover) !important;
}
.login-form form a{
    font-size: 1.4rem !important;
    text-decoration: none;
}
.login-form form a:hover{
    text-decoration: underline;
}
.login-form form label{
    color: var(--textColorWhite) !important;
    font-size: 1.2rem !important;
}
.login-form form button{
    background: var(--sectionBg2Color);
    color: var(--textColorWhite);
    font-size: 1.2rem !important;
    transition: .5s;
}
.login-form form button:hover{
    background-color: var(--cardBgColorHover);
    color: var(--textColorWhite);
}
/* responsive component */
@media (max-width:992px){
    h1{
        font-size: 7rem !important;
    }
}
@media(min-width:50px) and (max-width:768px){
    h1{
        font-size: 5rem !important;
    }
}
